[profile.default]

# Project structure
src = 'src'
script = 'script'
test = 'test'
out = 'out'
libs = ["node_modules", "lib"]

# Compiler settings
auto_detect_solc = true
evm_version = "cancun"
bytecode_hash = "none"
optimizer = true
optimizer_runs = 200
via_ir = true

# Testing configuration
gas_reports = ["ResupplyPair"]
gas_limit = 9223372036854775807
cache = true
ffi = true

# Filesystem permissions
fs_permissions = [{ access = "read-write", path = "./"}]

# Ignored compiler warnings
ignored_error_codes = [1878, 2519, 5574, 5667, 2072, 2018, 3420, 3860]

# Build profiles for different purposes
[profile.src]
test = "_" # Makes building faster
script = "_"
optimizer = false

[profile.script]
src = "_"
test = "_"
optimizer = false

[profile.deploy]
src = "_"
test = "_"
optimizer = true
optimizer_runs = 200
via_ir = true

[profile.test]
src = "_"
script = "_"
sparse_mode = true
optimizer = false
build_info = false
extra_output = []
verbosity = 3

# Network configurations
[rpc_endpoints]
mainnet = "${MAINNET_URL}"
fraxtal = "${FRAXTAL_MAINNET_URL}"
local = "http://127.0.0.1:8545"

# Block explorer API configurations
[etherscan]
fraxtal = {key = "${FRAXTAL_API_KEY}", url = "${FRAXTAL_VERIFIER_URL}", chain = "252"}

# Formatting settings
[fmt]
line_length = 1000
tab_width = 4
bracket_spacing = true
int_types = "long"
number_underscore = "thousands"

# See more config options https://github.com/gakonst/foundry/tree/master/config